<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <style type="text/css">
        .img {
            width:35%;
        }
        body{
            background-color:white;
        }
        .header{
            width:100%;
            text-align:center;
            height:100px;
        }
    </style>
</head>
<body>
   <div class = "header">
        <h1>Тестовая система</h1>
    </div>
    <h1>Список тестов:</h1>
    {% for test in list_tests %}
    <a href="{% url 'QuestionView' test.id %}"><h2>{{forloop.counter}}.{{test.name_test}}</h2></a>
    {% endfor %}
</body>
</html>